
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/angular.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
     ..  main navigation menu of the application ...
</ul>

<router-outlet></router-outlet>
